

body {
  font-family: "Playwrite GB S", serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Replace with the desired weight */
  font-style: normal;
}

.typing-animation {
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid;
  animation: typing 3s steps(30, end), blink .75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}